@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Playfair+Display:900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 1em;
}
#mainnav {
    position: fixed;
    display: flex;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    width: 100vw;
    align-items: center;
    will-change: transform;
}
.topnav {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.topnav a {
    transition: .2s;
    color: #f2f2f2;
    text-decoration: none;
    padding: 20px;
}
.topnav a:hover {
    color: rgb(223, 71, 71);

}
#logo {
    width: 100px;
    transition: .4s;
    z-index: 1;
}
#logo img {
    width: 100%;
    height: 100%;
}
.droplinks {

}
.icon {
    display: none;
    background: rgb(223, 71, 71);
    height: 59px;
}


@media screen and (max-width: 600px) {
    /* .topnav a:not(:first-child) {
        display: none;
    } */
    .topnav a {
        display: none;
    }
    .topnav a.icon {
      display: block;
    }
    .droplinks {
        /* background: rgb(0, 0, 0, .8); */
    }
  }
  @media screen and (max-width: 600px) {
    #mainnav {
    background: rgba(0, 0, 0, 1);
        
    }
    .topnav {
        display: block;
        transition: .4s;
        margin-left: auto;
        position: absolute;
        right: 0;
        top: 15px;
    }
    .topnav.responsive {
    }
    #logo {
        /* width: 200%; */
    }
    
    .topnav.responsive a {
        background: rgba(0, 0, 0, 1);
        display: block;
    }
    .topnav.responsive .icon {
        background: #df4747;

    }
  }

/* ------------------   cover ------------------  */
#salonimage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom:0px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 600px){
    #salonimage {
        top: 60px;
    }
}
@media screen and (max-width: 450px){
    #salonimage {
        top: 95px;
    }
}
#salonimage img {
    width: 100%;
    height: auto;
}

/*---------- CONTENT------------------ */

#content {
    background: rgb(255, 255, 255);
    color: black;
    position: relative;
    top: 87vh;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#main-content{
    margin: 0px 10px;

}
.box-row {
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 5px solid black; */
}
.content-header {
    /* margin: 0px 0px; */
    text-align: center;
    padding: 1px;
    font-size: 1em;
}
.middle {
    font-size: 1.2em;
    color: rgb(163, 52, 52);

    /* border-bottom: 1px solid black; */
}
.box {
    padding: 10px 10px;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    max-width: 300px;
    transition: all .3s;

}

.box a {
    text-decoration: none;

}
.box h2 {
    position: relative;
    color: #df4747;
    font-size: 1.2em;
    padding-top: 0px;
    transition: all .3s;
    line-height: 4px;
    
}
.sub-head::after {
    content:'';
    background: #df4747;
    position: absolute;
    height: 2px;
    bottom: -13px; 
    left: 0px;
    width: 10%;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: all ease-out .3s;
}
.box p {
    color: black;
    transition: all .3s;
}
.box:hover h2{
    /* color: #dd8484; */
}
.box:hover .sub-head::after {
    width: 30%;
    height: 2px;
    background: #df4747;
}
.box:hover p{
    color: rgb(114, 114, 114);
}
.box:hover img{
    opacity: .9;
}
.box img {
    width: 100%;
    height: auto;
    transition: all .3s;

}
@media screen and (max-width: 850px){
    #main-content {

    }
    #content {
        top: 80vh;
    }
    .content-header {
        font-size: .7em;
    }
    .middle {
        font-size: 1em;
    }
    .box-row {

    }
    .box {
        max-width: 325px;
        /* height: 385px; */
    }
}
@media screen and (max-width: 825px){
    #content {
        top: 55vh;
    }
}
@media screen and (max-width: 700px){
    #content {
        top: 50vh;
    }
}
@media screen and (max-width: 450px){
    #content {
        top: 50vh;
    }
    .box-row {
        flex-direction: column;
    }
    .box {
        max-width: 450px;
    }
}


/* -----------------FOOTER --------------------- */

#footer {
    color: white;
    background: #000;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    /* position: absolute; */
    /* bottom: 0; */
}
#footer-big-box {
    display: flex;
    justify-content: space-evenly;

}
.footbox {
    padding: 10px;
}
.socialicons {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
}
.footicon{
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}
.footicon img {
    width: 100%;
    height: 100%;
}
.foot-logo-box {
    width: 100px;
}
.foot-logo {
    width: 100%;
    height: 100%;
}
#privacy {
    text-align: center;
}
@media screen and (max-width: 450px) {
    #footer-big-box {
        /* text-align: center; */
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .socialicons {
        flex-direction: row;
        justify-content: center;
    }
    .foot-logo-box {
        width: 40vw;
    }
}