.products {
    padding: 10px 10px;
    margin: 0;
    padding-top: 8%;
    background-image: url('./img/papyrus.png');
}
.content-header {
    font-size: 2em;
}
@media screen and (max-width: 900px){
    .products {
        padding-top: 12%;
    } 
}

@media screen and (max-width: 600px){
    .products {
        padding-top: 25%;
    } 
    .content-header {
        font-size: 1.3em;
    }
    .content-sub-header {
        padding: 1px 20px;
        font-size: .7em;
    }
}