.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px 10px;
    margin: 0;
    padding-top: 8%;
    background-image: url('./img/papyrus.png');
}
#contactHead {
    grid-column: span 2;
    text-align: center;
    /* border-style: solid; */
    /* border-width: 0; */
    /* border-bottom-width: 1px; */
    font-size: 1.2em;
    /* padding: 10px 0px 10px 0px; */
    margin: 0;
}
.section {
    grid-column: span 1;
    padding: 10px 50px;
}
.map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height:0;
}
.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.title {
    font-size: 2em;
}
.title2 {
    font-size: 1.3em;
}
@media only screen and (max-width: 950px){
    .section {
        grid-column: span 2;
        padding: 10px 30px;
    }
    .map {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
@media screen and (max-width: 900px){
    .contact {
        padding-top: 12%;
    } 
}

@media screen and (max-width: 600px){
    .contact {
        padding-top: 25%;
    } 
    .content-header {
        font-size: 1.3em;
    }
}