@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Playfair+Display:900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
    /* color: white; */
    font-size: 1em;
}
#mainnav {
    position: fixed;
    display: flex;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    /* background-image: url('./img/papyrus-dark.png'); */
    width: 100vw;
    align-items: center;
    will-change: transform;
}
.topnav {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.topnav a {
    transition: .2s;
    color: #f2f2f2;
    /* color: black; */
    text-decoration: none;
    padding: 20px;
}
.topnav a:hover {
    color: rgb(223, 71, 71);

}
#logo {
    padding: 10px;
    width: 115px;
    transition: .4s;
    z-index: 1;
}
#logo img {
    width: 100%;
    height: 100%;
}
.droplinks {

}
.icon {
    display: none;
    background: rgb(223, 71, 71);
    height: 59px;
}

@media screen and (max-width: 600px) {
    .topnav a {
        background: rgba(0, 0, 0, 1);
        display: none;
    }
    .topnav a.icon {
        background: rgb(223, 71, 71);
        display: block;
    }
    .droplinks {
    }
  }
  @media screen and (max-width: 600px) {
    #mainnav {
        
    }
    .topnav {
        display: block;
        transition: .4s;
        margin-left: auto;
        position: absolute;
        right: 0;
        top: 15px;
    }
    .topnav.responsive {
    }
    #logo {
        width: 115px;
        padding: 3px;
        padding-left: 8px;
    }
    
    .topnav.responsive a {
        display: block;
    }
    .topnav.responsive .icon {
        background: #ee6161;
        color: black;

    }
  }

/* ------------------   cover ------------------  */
#salonimage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom:0px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 600px){
    #salonimage {
        top: 60px;
    }
}
@media screen and (max-width: 450px){
    #salonimage {
        top: 90px;
    }
}
#salonimage img {
    width: 100%;
    height: auto;
}

/*---------- CONTENT------------------ */

#content {
    background: rgb(255, 255, 255);
    background-image: url('./img/papyrus.png');
    color: black;
    position: relative;
    top: 80vh;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.5);
}
#main-content{
    margin: 0px 10px;

}
.box-row {
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 5px solid black; */
}
.content-header::before {
    content: '';
    /* display: block; */
    background-image: url('./img/shears_left.svg') no-repeat;
    width: 200px;
    height: 200px;
}
.content-header {
    /* margin: 0px 0px; */
    text-align: center;
    padding: 1px;
    font-size: 1em;
    background: rgb(255, 255, 255, .3);

}
.middle {
    font-size: 1.3em;
    /* color: rgb(163, 52, 52); */

    /* border-bottom: 1px solid black; */
}
.box {
    padding: 10px 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    transition: all .3s;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.box a {
    text-decoration: none;

}
.box h2 {
    position: relative;
    color: #df4747;
    font-size: 1.2em;
    margin-bottom: 25px;
    transition: all .3s;
    line-height: 5px;
    
}
.sub-head::after {
    content:'';
    background: #df4747;
    position: absolute;
    height: 2px;
    bottom: -13px; 
    left: 0px;
    width: 10%;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: all ease-out .3s;
}
.box p {
    color: black;
    transition: all .3s;
}
.box:hover h2{
    /* color: #dd8484; */
}
.box:hover .sub-head::after {
    width: 30%;
    height: 2px;
    background: #df4747;
}
.box:hover p{
    color: rgb(114, 114, 114);
}
.box:hover img{
    opacity: .9;
}
.box img {
    width: 100%;
    height: auto;
    transition: all .3s;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 2px; */

}
@media screen and (max-width: 850px){
    #main-content {

    }
    #content {
        top: 80vh;
    }
    .content-header {
        font-size: .7em;
    }
    .middle {
        font-size: 1em;
    }
    .box-row {

    }
    .box {
        max-width: 325px;
        /* height: 385px; */
    }
}
@media screen and (max-width: 825px){
    #content {
        top: 55vh;
    }
}
@media screen and (max-width: 700px){
    #content {
        top: 50vh;
    }
}
/* @media screen and (max-width: 600px){
    #content {
        top: 20vh;
    }
} */
@media screen and (max-width: 450px){
    #content {
        top: 50vh;
    }
    .box-row {
        flex-direction: column;
    }
    .box {
        max-width: 450px;
    }
}


/* -----------------FOOTER --------------------- */

#footer {
    color: white;
    background: #000;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('./img/papyrus-dark.png');
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.5);

    /* position: absolute; */
    /* bottom: 0; */
}
#footer-big-box {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;

}
.footbox {
    padding: 10px;
    border-left: 1px dashed rgba(255, 255, 255, 0.281);
    line-height: 25px;
}
.footlinks {
    display: flex;
    flex-direction: column;
}
.footlinks a {
    text-decoration: none;
    color: white;
    transition: .3s;
}
.footlinks a:hover {
    color: #df4747;
}
.socialicons {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
}
.footicon{
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}
.footicon img {
    width: 100%;
    height: 100%;
}
.foot-logo-box {
    width: 200px;
}
.foot-logo {
    width: 100%;
    height: 100%;
}
#privacy {
    text-align: center;
}
@media screen and (max-width: 450px) {
    #footer-big-box {
        /* text-align: center; */
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .socialicons {
        flex-direction: row;
        justify-content: center;
    }
    .footbox {
        border: none;
    }
    .footlinks {
        display: none;
    }
    .foot-logo-box {
        width: 40vw;
    }
}